.list-style-none {
  list-style: none;
}
.list-style-none li {
  padding-left: 0;
}
.list-style-none li::before {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.7;
  color: inherit;
}
h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small {
  font-size: 60%;
  line-height: 1;
  color: #999;
}
h1 .shoulder, h2 .shoulder, h3 .shoulder, h4 .shoulder, h5 .shoulder, h6 .shoulder {
  display: block;
  margin-bottom: .5em;
  font-size: 16px;
}
h1.no-margin, h2.no-margin, h3.no-margin, h4.no-margin, h5.no-margin, h6.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}
h1.no-margin-top, h2.no-margin-top, h3.no-margin-top, h4.no-margin-top, h5.no-margin-top, h6.no-margin-top {
  margin-top: 0;
}
h1.no-margin-bottom, h2.no-margin-bottom, h3.no-margin-bottom, h4.no-margin-bottom, h5.no-margin-bottom, h6.no-margin-bottom {
  margin-bottom: 0;
}

h1 {
  font-size: 36px;
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  margin: 40px 0 30px;
}

h3 {
  font-size: 18px;
  margin: 25px 0 15px;
}

h4 {
  font-size: 14px;
  margin: 15px 0;
}

h5 {
  font-size: 14px;
  margin: 10px 0;
}

h6 {
  font-size: 14px;
  margin: 10px 0;
}

@media (max-width: 639px) {
  h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 22px;
    margin: 30px 0 25px;
  }

  h3 {
    font-size: 16px;
    margin: 25px 0 15px;
  }

  time {
    font-size: 12px;
  }
}
p {
  margin: .5em 0;
  line-height: 2;
}

.col > p:first-child {
  margin-top: 0;
}
.col > p:last-child {
  margin-bottom: 0;
}

.text-large {
  font-size: 16px;
}

.text-small {
  font-size: 12px;
}

sup,
sub {
  font-size: 70%;
  line-height: 1;
  margin-right: .25em;
}
h1 sup, h2 sup, .title sup, h1
sub, h2
sub, .title
sub {
  font-size: 50%;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

@media (min-width: 640px) {
  .lead {
    font-size: 18px;
  }
}

.note,
.notes,
.list-notes {
  margin: 1em 0;
  font-size: 12px;
  color: #666;
  line-height: 1.7;
  list-style: none;
}
.note li,
.notes li,
.list-notes li {
  margin: .5em 0;
}

em {
  font-style: normal;
  color: #df7802;
}

small,
.small {
  font-size: 85%;
}

mark,
.mark {
  background-color: yellow;
  padding: .2em;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 40px 0;
}

.chapter {
  margin-top: 40px;
  margin-bottom: 40px;
}

.subchapter {
  margin-top: 20px;
  margin-bottom: 20px;
}

.paragraph {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 639px) {
  .chapter {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .subchapter {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .paragraph {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.chapter.border-top,
.subchapter.border-top {
  border-top: 1px solid #e5e5e5;
}
.chapter.border-top::before,
.subchapter.border-top::before {
  display: block;
  content: "";
  height: 0;
  margin-top: 20px;
}

ul {
  list-style: none;
}

ol,
.list-ol {
  margin: 20px 0 30px;
}
ol li,
.list-ol li {
  list-style-position: inside;
  padding-left: 1.6em;
  text-indent: -1.4em;
  margin: .5em 0;
}

.list-style-none li {
  margin: .5em 0;
}
.list-style-none li:first-child {
  margin-top: 0;
}
.list-style-none li:last-child {
  margin-bottom: 0;
}

.list-ul {
  margin: 20px 0 20px;
  list-style: none;
}
.list-ul li {
  position: relative;
  padding-left: 1.3em;
}
.list-ul li::before {
  width: 5px;
  height: 5px;
  background-color: #ccc;
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  top: .5em;
}
.list-ul li {
  margin: .5em 0;
}
.list-ul li:first-child {
  margin-top: 0;
}
.list-ul li:last-child {
  margin-bottom: 0;
}
.col > .list-ul:last-child {
  margin-bottom: 0;
}

.list-links {
  border-top: 3px solid #e5e5e5;
  border-bottom: 3px solid #e5e5e5;
  padding: 20px 0;
  margin: 40px 0;
  list-style: none;
  list-style: none;
}
.list-links li {
  margin: 1em 0;
}
.list-links a {
  display: inline-block;
  margin-left: 0;
}
@media (max-width: 639px) {
  .list-links a {
    display: block;
  }
}
.list-links li {
  padding-left: 0;
}
.list-links li::before {
  display: none;
}

.list-inline {
  list-style: none;
  margin-left: -5px;
}
.list-inline li {
  padding-left: 0;
}
.list-inline li::before {
  display: none;
}
.list-inline > li {
  display: inline-block;
  margin-top: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.list-links-inline {
  overflow: hidden;
}
.list-links-inline li {
  display: inline-block;
  line-height: 1.4;
  border-left: 1px solid #e5e5e5;
  margin: 5px 1.1em 5px -0.85em;
  padding-left: .75em;
}
.list-links-inline li:last-child {
  margin-right: 0;
}
.list-links-inline.wide li {
  margin-bottom: 1em;
  margin-right: 1.6em;
  margin-left: -1.15em;
  padding-left: 1.15em;
}

@media (min-width: 640px) {
  .list-dl.horizontal dt {
    width: 10%;
    padding-right: 10px;
    float: left;
    clear: left;
  }
  .list-dl.horizontal dd {
    width: 90%;
    float: left;
    clear: right;
  }
  .list-dl.horizontal.dt-1 dt {
    width: 10%;
  }
  .list-dl.horizontal.dt-1 dd {
    width: 90%;
  }
  .list-dl.horizontal.dt-2 dt {
    width: 20%;
  }
  .list-dl.horizontal.dt-2 dd {
    width: 80%;
  }
  .list-dl.horizontal.dt-3 dt {
    width: 30%;
  }
  .list-dl.horizontal.dt-3 dd {
    width: 70%;
  }
  .list-dl.horizontal.dt-4 dt {
    width: 40%;
  }
  .list-dl.horizontal.dt-4 dd {
    width: 60%;
  }
  .list-dl.horizontal.dt-5 dt {
    width: 50%;
  }
  .list-dl.horizontal.dt-5 dd {
    width: 50%;
  }
  .list-dl.horizontal.dt-6 dt {
    width: 60%;
  }
  .list-dl.horizontal.dt-6 dd {
    width: 40%;
  }
  .list-dl.horizontal.dt-7 dt {
    width: 70%;
  }
  .list-dl.horizontal.dt-7 dd {
    width: 30%;
  }
  .list-dl.horizontal.dt-8 dt {
    width: 80%;
  }
  .list-dl.horizontal.dt-8 dd {
    width: 20%;
  }
  .list-dl.horizontal.dt-9 dt {
    width: 90%;
  }
  .list-dl.horizontal.dt-9 dd {
    width: 10%;
  }
  .list-dl.horizontal.dt-10 dt {
    width: 100%;
  }
  .list-dl.horizontal.dt-10 dd {
    width: 0%;
  }
  .list-dl.horizontal.dt-11 dt {
    width: 110%;
  }
  .list-dl.horizontal.dt-11 dd {
    width: -10%;
  }
  .list-dl.horizontal.dt-12 dt {
    width: 120%;
  }
  .list-dl.horizontal.dt-12 dd {
    width: -20%;
  }
}
.img-liquid {
  max-width: 100%;
  height: auto;
}

.img-solid {
  max-width: initial;
  height: auto;
}

.img-fluid {
  max-width: initial;
  width: 100%;
  height: auto;
}

.img-liquid-inline-block {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-liquid-block {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-replace {
  visibility: hidden;
}

.img-bordered {
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.image,
.video {
  margin-bottom: 15px;
}
.text + .image, .text +
.video {
  margin-top: 20px;
}

.img-title,
.video-title,
.img-caption {
  font-size: 12px;
  margin: 13px 0 20px;
  padding: 0 0 0 12px;
  line-height: 1.7;
  border-left: 3px solid #e5e5e5;
  text-align: left;
}

.img-title,
.video-title {
  color: #000;
  display: block;
}

.img-caption {
  color: #666;
  display: block;
}
.img-caption strong {
  margin: 0;
}
.img-title + .img-caption {
  margin-top: -20px;
}

.scroll-container,
.scroll-container-full {
  overflow: auto;
  display: block;
  -webkit-overflow-scrolling: touch;
}
.scroll-container img,
.scroll-container-full img {
  max-width: initial;
  height: auto;
}

.scroll-container {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 640px) and (max-width: 1023px) {
  .scroll-container-full {
    margin-left: -20px;
    margin-right: -20px;
  }
  .scroll-container-full > * {
    display: block;
    margin: 0 20px;
    border-right: solid transparent 20px;
  }
}
@media (max-width: 639px) {
  .scroll-container-full {
    margin-left: -25px;
    margin-right: -25px;
  }
  .scroll-container-full > * {
    display: block;
    margin: 0 25px;
    border-right: solid transparent 25px;
  }
}

.video-container {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 56.25% 0;
}
.video-container.aspect-4by3 {
  padding-bottom: 75%;
}
.video-container.aspect-16by9 {
  padding-bottom: 56.25%;
}
.video-container.aspect-16by10 {
  padding-bottom: 62.5%;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.media-right:before, .media-right:after,
.media-left:before,
.media-left:after {
  content: " ";
  display: table;
}
.media-right:after,
.media-left:after {
  clear: both;
}
.media-right .image,
.media-left .image {
  display: table;
  width: 60px;
  margin-bottom: 0;
}
.media-right .image .img-caption,
.media-left .image .img-caption {
  margin-bottom: 0;
}
.media-right .image img,
.media-left .image img {
  margin-top: .35em;
  max-width: initial;
  height: auto;
}
@media (max-width: 639px) {
  .media-right .image img,
  .media-left .image img {
    max-width: 100px;
    max-width: 34vw;
  }
}
.media-right .text,
.media-left .text {
  overflow: hidden;
}
.media-right .text > :first-child,
.media-left .text > :first-child {
  margin-top: 0;
}
.media-right .text.fluid,
.media-left .text.fluid {
  overflow: visible;
}
.media-right.fluid .image,
.media-left.fluid .image {
  margin-bottom: 20px;
}
.media-right.fluid .text,
.media-left.fluid .text {
  overflow: visible;
}

.media-left .image {
  float: left;
  padding-right: 28px;
}
@media (max-width: 639px) {
  .media-left .image {
    padding-right: 20px;
  }
}

.media-right .image {
  float: right;
  padding-left: 28px;
}
@media (max-width: 639px) {
  .media-right .image {
    padding-left: 20px;
  }
}

@media (max-width: 639px) {
  .media-not-sm .image {
    padding: 0;
    display: block;
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
  .media-not-sm .image img {
    width: 100%;
    max-width: 100%;
  }
}
a[href^="tel:"] {
  color: #000;
}
a[href^="tel:"]:hover {
  color: #0086ce;
}

.text-vertical {
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
  writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.vertical-top {
  vertical-align: top;
}

.vertical-middle {
  vertical-align: middle;
}

.vertical-bottom {
  vertical-align: bottom;
}

.vertical-baseline {
  vertical-align: baseline;
}

.vertical-text-top {
  vertical-align: text-top;
}

.vertical-text-top {
  vertical-align: text-bottom;
}

@media (min-width: 1024px) {
  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }

  .text-lg-center {
    text-align: center;
  }

  .vertical-lg-top {
    vertical-align: top;
  }

  .vertical-lg-middle {
    vertical-align: middle;
  }

  .vertical-lg-bottom {
    vertical-align: bottom;
  }
}
@media (max-width: 1023px) {
  .text-md-left {
    text-align: left;
  }

  .text-md-right {
    text-align: right;
  }

  .text-md-center {
    text-align: center;
  }

  .vertical-md-top {
    vertical-align: top;
  }

  .vertical-md-middle {
    vertical-align: middle;
  }

  .vertical-md-bottom {
    vertical-align: bottom;
  }
}
@media (max-width: 639px) {
  .text-sm-left {
    text-align: left;
  }

  .text-sm-right {
    text-align: right;
  }

  .text-sm-center {
    text-align: center;
  }

  .vertical-sm-top {
    vertical-align: top;
  }

  .vertical-sm-middle {
    vertical-align: middle;
  }

  .vertical-sm-bottom {
    vertical-align: bottom;
  }
}
.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-muted {
  color: #999;
}

.text-outdent {
  text-indent: -0.5em;
}

.text-square {
  position: relative;
  padding-left: 1em;
}
.text-square::before {
  width: 0.4em;
  height: 0.4em;
  background-color: #ccc;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: .6em;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}
table .pull-right {
  padding-left: 20px;
}
.pull-right > *:first-child {
  margin-top: 0;
}

.pull-left {
  float: left !important;
}
table .pull-left {
  padding-right: 20px;
}
.pull-left > *:first-child {
  margin-top: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

@media (max-width: 1023px) {
  .hidden-not-lg {
    display: none !important;
  }
}
@media (min-width: 640px) {
  .hidden-not-sm {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .hidden-lg {
    display: none !important;
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .hidden-md {
    display: none !important;
  }
}
@media (max-width: 639px) {
  .hidden-sm {
    display: none !important;
  }
}
.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

.tap-highlight {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.no-padding {
  padding: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}
